body {
  background: url(./images/bg-intro-desktop.png);
  background-color: rgb(253, 121, 120);
}

.row {
  align-self: center;
  position: relative;
  margin: 100px 50px;
}

.btn-purple {
  background-color: rgb(94, 85, 163);
  color: #fff;
  font-size: 16px;
  box-shadow: 3px 4px 9px -1px #000;
  padding: 11px 0px;
  width: 100%;
}

.btn-success {
  padding: 11px 74px;
  align-self: center;
  margin: 4px;
  width: 100%;
}

.terms {
  font-size: 12px;
  text-align: center;
}

form {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 18px;
  padding: 40px 50px;
}

input {
  width: 100%;
  margin: 20px 0px;
  box-sizing: border-box;
}

#intro {
  color: #fff;
  align-self: center;
}

h1 {
  font-size: 75px;
  font-weight: bold;
}

p b {
  color: red;
}

input:focus {
  border-color: red;
}
