body {
  background: url(./images/bg-intro-desktop.png);
  background-color: rgb(253, 121, 120);
}

.container {
  justify-content: space-around;
  align-items: center;
}

.btn-purple {
  background-color: rgb(94, 85, 163);
  color: #fff;
  font-size: 16px;
  box-shadow: 3px 4px 9px -1px #000;
}

form {
  margin-top: 10px;
}
